# contingencyTables
```
Andrew E. Davidson
aedavids@ucsc.edu
12/5/22
```
the fractional tables in  preliminaryCibersortResults.ipynb are hard to see. Can we use contingencyTables, also konw at cross tabultaion or crosstabs

ref:
- https://github.com/nicolaskruchten/pivottable
- https://pypi.org/project/pivottablejs/
- https://github.com/nicolaskruchten/pivottable/wiki/Parameters#options-object-for-pivotui
- https://towardsdatascience.com/introducing-pivotui-never-use-pandas-to-groupby-and-pivot-your-data-again-ed0fcf95b6ed

**you can not save to a png**

pivottables is implement using react.js . You can click on 'pop out' to pop out a browser window with an html page you can cut and pages the img from. The argument outfile_path does not work the way you might like, it create an html page and saves it the computer the browser is running on. You can not save the server

In [1]:
from IPython.display import display
from IPython.display import Image
import pandas as pd
import pathlib as pl
from pivottablejs import pivot_ui 

#https://stackoverflow.com/a/36835741/4586180
# did not solve scroll problem
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

imgOutDir = pl.Path("img/contingencyTables")
imgOutDir.mkdir(parents=True, exist_ok=True)

In [2]:
# GTEx Kidney_Cortex_vs_all.results
#TCGA
# KIRC_vs_all.results ( Kidney renal clear cell carcinoma)
# KIRP_vs_all.results (Kidney renal papillary cell carcinoma)
# KICH_vs_all.results (Kidney Chromophobe)

In [3]:
# Create test data

# note fraction row sum can not be > 1,
# how ever they could be < 1 if there are some other types that we do not have data for
testDF = pd.DataFrame( {
    "sampleId" : ["s{}".format(i) for i in range(1,9)]
    ,"dateSet"  : ['GTEx'] * 4 + ['TCGA'] * 4
    ,"gender"   : ['M', 'F'] * 4
    ,"primary"  : ['H1'] * 4 + ['C2', 'C2', 'C3', 'C4']
    , "H1"      : [0.5, 0.6, 0.9, 0.9] + [0.2, 0.1] * 2
    , "C2"       : [0.0] * 4 + [0.8, 0.9, 0.0, 0.0]
    , "C3"       : [0.0, 0.1, 0.0, 0.0] + [0.0, 0.0, 0.7, 0.1]
    , "C4"       : [0.0]  * 6 + [0.1, 0.6]  
})

testDF

  sampleId dateSet gender primary   H1   C2   C3   C4
0       s1    GTEx      M      H1  0.5  0.0  0.0  0.0
1       s2    GTEx      F      H1  0.6  0.0  0.1  0.0
2       s3    GTEx      M      H1  0.9  0.0  0.0  0.0
3       s4    GTEx      F      H1  0.9  0.0  0.0  0.0
4       s5    TCGA      M      C2  0.2  0.8  0.0  0.0
5       s6    TCGA      F      C2  0.1  0.9  0.0  0.0
6       s7    TCGA      M      C3  0.2  0.0  0.7  0.1
7       s8    TCGA      F      C4  0.1  0.0  0.1  0.6

In [4]:
# https://www.youtube.com/watch?v=xPPs59pn6qU
# pivots let you reshape your dataframe. Not clear how useful they are
# pivot tables let you summarize and aggregate
# great example of finding average temp by month (grouping data, aggregating)
# use pivot_table, not groupby()
testDF.pivot( index='sampleId', columns=['primary', 'H1', 'C2'], values=['gender', 'C3']) # index='dateSet', index has to be unique
#testDF.pivot( columns=['primary', 'H1', 'C2']) # index='dateSet', index has to be unique

         gender                                 C3                           \
primary      H1             C2        C3   C4   H1             C2        C3
H1          0.5  0.6  0.9  0.2  0.1  0.2  0.1  0.5  0.6  0.9  0.2  0.1  0.2
C2          0.0  0.0  0.0  0.8  0.9  0.0  0.0  0.0  0.0  0.0  0.8  0.9  0.0
sampleId
s1            M  NaN  NaN  NaN  NaN  NaN  NaN  0.0  NaN  NaN  NaN  NaN  NaN
s2          NaN    F  NaN  NaN  NaN  NaN  NaN  NaN  0.1  NaN  NaN  NaN  NaN
s3          NaN  NaN    M  NaN  NaN  NaN  NaN  NaN  NaN  0.0  NaN  NaN  NaN
s4          NaN  NaN    F  NaN  NaN  NaN  NaN  NaN  NaN  0.0  NaN  NaN  NaN
s5          NaN  NaN  NaN    M  NaN  NaN  NaN  NaN  NaN  NaN  0.0  NaN  NaN
s6          NaN  NaN  NaN  NaN    F  NaN  NaN  NaN  NaN  NaN  NaN  0.0  NaN
s7          NaN  NaN  NaN  NaN  NaN    M  NaN  NaN  NaN  NaN  NaN  NaN  0.7
s8          NaN  NaN  NaN  NaN  NaN  NaN    F  NaN  NaN  NaN  NaN  NaN  NaN


primary    C4
H1        0.1
C2        0.0
sampleId
s1        NaN
s2        NaN
s3        NaN
s4        NaN
s5        NaN
s6        NaN
s7        NaN
s8        0.1

# try piviot_ui

In [5]:
pivot_ui(testDF)

In [6]:
# test 2, replace fraction with logical indicator
test2DF = pd.DataFrame( {
    "sampleId" : ["s{}".format(i) for i in range(1,9)]
    ,"dateSet"  : ['GTEx'] * 4 + ['TCGA'] * 4
    ,"gender"   : ['M', 'F'] * 4
    ,"primary"  : ['H1'] * 4 + ['C2', 'C2', 'C3', 'C4']
   #, "H1"      : [0.5, 0.6, 0.9, 0.9] + [0.2, 0.1] * 2
    , "H1"      : [True] * 8 
    #, "C2"       : [0.0] * 4 + [0.8, 0.9, 0.0, 0.0]    
    , "C2"       : [False] * 4 + [True] * 2 +  [False] * 2
    #, "C3"       : [0.0, 0.1, 0.0, 0.0] + [0.0, 0.0, 0.7, 0.1]
    , "C3"       : [False, True, False, False, False, False, True, True]
    #, "C4"       : [0.0]  * 6 + [0.1, 0.6]  
    , "C4"       : [False] * 6 + [True] * 2
})

test2DF

  sampleId dateSet gender primary    H1     C2     C3     C4
0       s1    GTEx      M      H1  True  False  False  False
1       s2    GTEx      F      H1  True  False   True  False
2       s3    GTEx      M      H1  True  False  False  False
3       s4    GTEx      F      H1  True  False  False  False
4       s5    TCGA      M      C2  True   True  False  False
5       s6    TCGA      F      C2  True   True  False  False
6       s7    TCGA      M      C3  True  False   True   True
7       s8    TCGA      F      C4  True  False   True   True

In [7]:
pivot_ui(test2DF) # interactive, does not save your work

In [8]:
test2DF.dtypes

sampleId    object
dateSet     object
gender      object
primary     object
H1            bool
C2            bool
C3            bool
C4            bool
dtype: object

In [9]:
# preconfigure, can still change interactively, changes not save
pivot_ui(test2DF, 
         rows=['dataSet', 'primary', 'H1', 'C2', 'C3', 'C4'], 
         cols=['gender'])

# Explore Kidney

In [10]:
# load cibersort results
cibersortOut = pl.Path("/scratch/aedavids/cibersort.out/GTEx_TCGA_TrainGroupby_mixture-2022-10-18-07.40.54-PDT")
cibersortRet = cibersortOut.joinpath("CIBERSORTx_GTEx_TCGA_TrainGroupby_mixture-2022-10-18-07.40.54-PDT_Results.txt")
cibersortFractionsDF = pd.read_csv(cibersortRet, sep='\t')

In [11]:
print(cibersortFractionsDF.shape)
print(cibersortFractionsDF.columns)
cibersortFractionsDF.iloc[0:5,0:5]

(15801, 87)
Index(['Mixture', 'ACC', 'Adipose_Subcutaneous', 'Adipose_Visceral_Omentum',
       'Adrenal_Gland', 'Artery_Aorta', 'Artery_Coronary', 'Artery_Tibial',
       'BLCA', 'BRCA', 'Bladder', 'Brain_Amygdala',
       'Brain_Anterior_cingulate_cortex_BA24', 'Brain_Caudate_basal_ganglia',
       'Brain_Cerebellar_Hemisphere', 'Brain_Cerebellum', 'Brain_Cortex',
       'Brain_Frontal_Cortex_BA9', 'Brain_Hippocampus', 'Brain_Hypothalamus',
       'Brain_Nucleus_accumbens_basal_ganglia', 'Brain_Putamen_basal_ganglia',
       'Brain_Spinal_cord_cervical_c-1', 'Brain_Substantia_nigra',
       'Breast_Mammary_Tissue', 'CESC', 'CHOL', 'COAD',
       'Cells_Cultured_fibroblasts', 'Cells_EBV-transformed_lymphocytes',
       'Cervix_Endocervix', 'Colon_Sigmoid', 'Colon_Transverse', 'DLBC',
       'ESCA', 'Esophagus_Gastroesophageal_Junction', 'Esophagus_Mucosa',
       'Esophagus_Muscularis', 'GBM', 'HNSC', 'Heart_Atrial_Appendage',
       'Heart_Left_Ventricle', 'KICH', 'KIRC', 'KIRP', 'Kidney_Cortex', 'LGG',
       'LIHC', 'LUAD', 'LUSC', 'Liver', 'Lung', 'MESO', 'Minor_Salivary_Gland',
       'Muscle_Skeletal', 'Nerve_Tibial', 'OV', 'Ovary', 'PAAD', 'PCPG',
       'PRAD', 'Pancreas', 'Pituitary', 'Prostate', 'READ', 'SARC', 'SKCM',
       'STAD', 'Skin_Not_Sun_Exposed_Suprapubic', 'Skin_Sun_Exposed_Lower_leg',
       'Small_Intestine_Terminal_Ileum', 'Spleen', 'Stomach', 'TGCT', 'THCA',
       'THYM', 'Testis', 'Thyroid', 'UCEC', 'UCS', 'UVM', 'Uterus', 'Vagina',
       'Whole_Blood', 'P-value', 'Correlation', 'RMSE'],
      dtype='object')

,Mixture,ACC,Adipose_Subcutaneous,Adipose_Visceral_Omentum,Adrenal_Gland
0,GTEX-1117F-0226-SM-5GZZ7,0.000002,0.320885,0.156637,0.000154
1,GTEX-1117F-0526-SM-5EGHJ,0.000022,0.295300,0.150368,0.000842
2,GTEX-1117F-0726-SM-5GIEN,0.000153,0.054458,0.010553,0.000014
3,GTEX-1117F-2826-SM-5GZXL,0.000000,0.290041,0.142267,0.000078
4,GTEX-1117F-3226-SM-5N9CT,0.000217,0.004459,0.000000,0.000000

In [12]:
# load train set meta data
# columns: sample_id, participant_id, category, gender, age, dataSet + fractions

klDir = pl.Path("/private/groups/kimlab")
bestDir = klDir.joinpath("GTEx_TCGA/geneSignatureProfiles/best/")
dataDir = bestDir.joinpath('GTEx_TCGA_1vsAll-design:~__gender_+_category-padj:0.001-lfc:2.0-n:25')
metaDataFile = dataDir.joinpath("ciberSort/GTEx_TCGA_TrainGroupby_expectedFractions.txt")
metaDataDF = pd.read_csv(metaDataFile, sep='\t')

In [13]:
print(metaDataDF.shape)
print(metaDataDF.columns)
display(metaDataDF.iloc[0:5,0:7])
display(metaDataDF.iloc[15796:,0:7])

(15801, 89)
Index(['sample_id', 'participant_id', 'category', 'gender', 'age', 'dataSet',
       'ACC', 'Adipose_Subcutaneous', 'Adipose_Visceral_Omentum',
       'Adrenal_Gland', 'Artery_Aorta', 'Artery_Coronary', 'Artery_Tibial',
       'BLCA', 'BRCA', 'Bladder', 'Brain_Amygdala',
       'Brain_Anterior_cingulate_cortex_BA24', 'Brain_Caudate_basal_ganglia',
       'Brain_Cerebellar_Hemisphere', 'Brain_Cerebellum', 'Brain_Cortex',
       'Brain_Frontal_Cortex_BA9', 'Brain_Hippocampus', 'Brain_Hypothalamus',
       'Brain_Nucleus_accumbens_basal_ganglia', 'Brain_Putamen_basal_ganglia',
       'Brain_Spinal_cord_cervical_c-1', 'Brain_Substantia_nigra',
       'Breast_Mammary_Tissue', 'CESC', 'CHOL', 'COAD',
       'Cells_Cultured_fibroblasts', 'Cells_EBV-transformed_lymphocytes',
       'Cervix_Endocervix', 'Colon_Sigmoid', 'Colon_Transverse', 'DLBC',
       'ESCA', 'Esophagus_Gastroesophageal_Junction', 'Esophagus_Mucosa',
       'Esophagus_Muscularis', 'GBM', 'HNSC', 'Heart_Atrial_Appendage',
       'Heart_Left_Ventricle', 'KICH', 'KIRC', 'KIRP', 'Kidney_Cortex', 'LGG',
       'LIHC', 'LUAD', 'LUSC', 'Liver', 'Lung', 'MESO', 'Minor_Salivary_Gland',
       'Muscle_Skeletal', 'Nerve_Tibial', 'OV', 'Ovary', 'PAAD', 'PCPG',
       'PRAD', 'Pancreas', 'Pituitary', 'Prostate', 'READ', 'SARC', 'SKCM',
       'STAD', 'Skin_Not_Sun_Exposed_Suprapubic', 'Skin_Sun_Exposed_Lower_leg',
       'Small_Intestine_Terminal_Ileum', 'Spleen', 'Stomach', 'TGCT', 'THCA',
       'THYM', 'Testis', 'Thyroid', 'UCEC', 'UCS', 'UVM', 'Uterus', 'Vagina',
       'Whole_Blood'],
      dtype='object')

,sample_id,participant_id,category,gender,age,dataSet,ACC
0,GTEX-1117F-0226-SM-5GZZ7,GTEX-1117F,Adipose_Subcutaneous,Female,66.0,GTEx,0.0
1,GTEX-1117F-0526-SM-5EGHJ,GTEX-1117F,Artery_Tibial,Female,66.0,GTEx,0.0
2,GTEX-1117F-0726-SM-5GIEN,GTEX-1117F,Heart_Atrial_Appendage,Female,66.0,GTEx,0.0
3,GTEX-1117F-2826-SM-5GZXL,GTEX-1117F,Breast_Mammary_Tissue,Female,66.0,GTEx,0.0
4,GTEX-1117F-3226-SM-5N9CT,GTEX-1117F,Brain_Cortex,Female,66.0,GTEx,0.0

            sample_id participant_id category  gender   age dataSet  ACC
15796  UVM-WC-AA9E-TP    UVM-WC-AA9E      UVM    male  60.0    TCGA  0.0
15797  UVM-YZ-A980-TP    UVM-YZ-A980      UVM    male  75.0    TCGA  0.0
15798  UVM-YZ-A983-TP    UVM-YZ-A983      UVM  female  51.0    TCGA  0.0
15799  UVM-YZ-A984-TP    UVM-YZ-A984      UVM  female  50.0    TCGA  0.0
15800  UVM-YZ-A985-TP    UVM-YZ-A985      UVM  female  41.0    TCGA  0.0

In [14]:
statCols = ['Mixture', 'P-value', 'Correlation', 'RMSE']
typeCols = ['ACC', 'Adipose_Subcutaneous', 'Adipose_Visceral_Omentum',
       'Adrenal_Gland', 'Artery_Aorta', 'Artery_Coronary', 'Artery_Tibial',
       'BLCA', 'BRCA', 'Bladder', 'Brain_Amygdala',
       'Brain_Anterior_cingulate_cortex_BA24', 'Brain_Caudate_basal_ganglia',
       'Brain_Cerebellar_Hemisphere', 'Brain_Cerebellum', 'Brain_Cortex',
       'Brain_Frontal_Cortex_BA9', 'Brain_Hippocampus', 'Brain_Hypothalamus',
       'Brain_Nucleus_accumbens_basal_ganglia', 'Brain_Putamen_basal_ganglia',
       'Brain_Spinal_cord_cervical_c-1', 'Brain_Substantia_nigra',
       'Breast_Mammary_Tissue', 'CESC', 'CHOL', 'COAD',
       'Cells_Cultured_fibroblasts', 'Cells_EBV-transformed_lymphocytes',
       'Cervix_Endocervix', 'Colon_Sigmoid', 'Colon_Transverse', 'DLBC',
       'ESCA', 'Esophagus_Gastroesophageal_Junction', 'Esophagus_Mucosa',
       'Esophagus_Muscularis', 'GBM', 'HNSC', 'Heart_Atrial_Appendage',
       'Heart_Left_Ventricle', 'KICH', 'KIRC', 'KIRP', 'Kidney_Cortex', 'LGG',
       'LIHC', 'LUAD', 'LUSC', 'Liver', 'Lung', 'MESO', 'Minor_Salivary_Gland',
       'Muscle_Skeletal', 'Nerve_Tibial', 'OV', 'Ovary', 'PAAD', 'PCPG',
       'PRAD', 'Pancreas', 'Pituitary', 'Prostate', 'READ', 'SARC', 'SKCM',
       'STAD', 'Skin_Not_Sun_Exposed_Suprapubic', 'Skin_Sun_Exposed_Lower_leg',
       'Small_Intestine_Terminal_Ileum', 'Spleen', 'Stomach', 'TGCT', 'THCA',
       'THYM', 'Testis', 'Thyroid', 'UCEC', 'UCS', 'UVM', 'Uterus', 'Vagina',
       'Whole_Blood']

In [15]:
sampleTypes = ['KICH', 'KIRC', 'KIRP', 'Kidney_Cortex']
metaDataCols = ['sample_id', 'category', 'gender', 'age', 'dataSet']
samples = metaDataDF.loc[:, "category"].isin(sampleTypes)
sampleMetaDataDF = metaDataDF.loc[ samples, metaDataCols ]
print(sampleMetaDataDF.shape)
print("expect 584")
sampleMetaDataDF.head()

(584, 5)
expect 584

                     sample_id       category  gender   age dataSet
287   GTEX-11GS4-2326-SM-5A5KS  Kidney_Cortex    Male  61.0    GTEx
421   GTEX-11OF3-1326-SM-5N9FJ  Kidney_Cortex    Male  63.0    GTEx
821   GTEX-12WSG-0826-SM-5EQ5A  Kidney_Cortex  Female  55.0    GTEx
992   GTEX-13112-2126-SM-5GCO4  Kidney_Cortex    Male  52.0    GTEx
1593  GTEX-13NYB-1726-SM-5N9G2  Kidney_Cortex    Male  49.0    GTEx

In [16]:
fractionCols = statCols + sampleTypes 
sampleFractionsDF = cibersortFractionsDF.loc[:, fractionCols]
print(sampleFractionsDF.shape)
sampleFractionsDF.head()

(15801, 8)

,Mixture,P-value,Correlation,RMSE,KICH,KIRC,KIRP,Kidney_Cortex
0,GTEX-1117F-0226-SM-5GZZ7,0.0,0.985425,0.926455,0.000173,0.000885,0.000000,0.000902
1,GTEX-1117F-0526-SM-5EGHJ,0.0,0.979791,0.934695,0.000000,0.000170,0.000063,0.000030
2,GTEX-1117F-0726-SM-5GIEN,0.0,0.984906,0.447916,0.000026,0.000000,0.000152,0.000045
3,GTEX-1117F-2826-SM-5GZXL,0.0,0.988464,0.907675,0.000000,0.001244,0.000000,0.000646
4,GTEX-1117F-3226-SM-5N9CT,0.0,0.917052,0.949553,0.000023,0.000014,0.000000,0.000000

In [17]:
fractionsMetaDF = sampleFractionsDF.merge(right=sampleMetaDataDF, how='inner', left_on='Mixture', right_on='sample_id' )
print(fractionsMetaDF.shape)
fractionsMetaDF.head()

(584, 13)

,Mixture,P-value,Correlation,RMSE,KICH,KIRC,KIRP,Kidney_Cortex,sample_id,category,gender,age,dataSet
0,GTEX-11GS4-2326-SM-5A5KS,0.00,0.809948,0.850022,0.080085,0.000000,0.019416,0.701542,GTEX-11GS4-2326-SM-5A5KS,Kidney_Cortex,Male,61.0,GTEx
1,GTEX-11OF3-1326-SM-5N9FJ,0.00,0.754425,0.936081,0.156799,0.029181,0.041369,0.585547,GTEX-11OF3-1326-SM-5N9FJ,Kidney_Cortex,Male,63.0,GTEx
2,GTEX-12WSG-0826-SM-5EQ5A,0.00,0.765025,0.936912,0.040234,0.040768,0.141033,0.606336,GTEX-12WSG-0826-SM-5EQ5A,Kidney_Cortex,Female,55.0,GTEx
3,GTEX-13112-2126-SM-5GCO4,0.01,0.476457,0.966914,0.090266,0.003178,0.000000,0.461270,GTEX-13112-2126-SM-5GCO4,Kidney_Cortex,Male,52.0,GTEx
4,GTEX-13NYB-1726-SM-5N9G2,0.00,0.659457,0.955191,0.025235,0.118406,0.010422,0.699884,GTEX-13NYB-1726-SM-5N9G2,Kidney_Cortex,Male,49.0,GTEx

In [18]:
for sampleType in sampleTypes:
    print("xxxx{}xxx".format(sampleType + "_I"))

xxxxKICH_Ixxx
xxxxKIRC_Ixxx
xxxxKIRP_Ixxx
xxxxKidney_Cortex_Ixxx

In [19]:
# convert fractions into indicator variable
threshold = 0.01
for sampleType in sampleTypes:
    indicatorColName = sampleType.strip() + "_I"
    fractionsMetaDF[indicatorColName] = fractionsMetaDF.loc[:, sampleType] >= threshold

In [20]:
#pivot_ui(fractionsMetaDF)
# pivot_ui(df, outfile_path="/x/y.html", url="http://localhost/a/b/x.html")
imgFilePath = imgOutDir.joinpath("kidneyContingencyTable" + ".html" )

# outfile does not work. it does not include the actual table
#pivot_ui(fractionsMetaDF, outfile_path=imgFilePath)

In [21]:
print(fractionsMetaDF.columns)
fractionsMetaDF.dtypes

Index(['Mixture', 'P-value', 'Correlation', 'RMSE', 'KICH', 'KIRC', 'KIRP',
       'Kidney_Cortex', 'sample_id', 'category', 'gender', 'age', 'dataSet',
       'KICH_I', 'KIRC_I', 'KIRP_I', 'Kidney_Cortex_I'],
      dtype='object')

Mixture             object
P-value            float64
Correlation        float64
RMSE               float64
KICH               float64
KIRC               float64
KIRP               float64
Kidney_Cortex      float64
sample_id           object
category            object
gender              object
age                float64
dataSet             object
KICH_I                bool
KIRC_I                bool
KIRP_I                bool
Kidney_Cortex_I       bool
dtype: object

In [22]:
pivot_ui(fractionsMetaDF, 
        showUI=False, 
        #outfile_path = imgOutDir.joinpath('kidneyContingencyTable.html'),
         rows=['category', 'Kidney_Cortex_I', 'KICH_I', 'KIRC_I', 'KIRP_I'] 
         #,cols=['gender']
        )

In [23]:
fooCol = ['dataSet', 'category', 'Kidney_Cortex_I', 'KICH_I', 'KIRC_I', 'KIRP_I']
print(fractionsMetaDF.columns)
fractionsMetaDF.loc[:,fooCol].groupby( by=['dataSet', 'category'] ).aggregate('count')

Index(['Mixture', 'P-value', 'Correlation', 'RMSE', 'KICH', 'KIRC', 'KIRP',
       'Kidney_Cortex', 'sample_id', 'category', 'gender', 'age', 'dataSet',
       'KICH_I', 'KIRC_I', 'KIRP_I', 'Kidney_Cortex_I'],
      dtype='object')

                       Kidney_Cortex_I  KICH_I  KIRC_I  KIRP_I
dataSet category
GTEx    Kidney_Cortex               52      52      52      52
TCGA    KICH                        39      39      39      39
        KIRC                       320     320     320     320
        KIRP                       173     173     173     173