# Bar Charts
Andrew E. Davidson  
aedavids@ucsc.edu

Copyright (c) 2020-2023, Regents of the University of California All rights reserved. https://polyformproject.org/licenses/noncommercial/1.0.0

ref:
- /extraCellularRNA/terra/jupyterNotebooks/cibersort/volcanoPlots.html
volcano plots I made for Daniel Dec/2022 Stanford A.I. conference. The plots show differentialy express genes with TE gene plotted in red

**bar chart over vie generated by chatGPT4** 
- x axis categorys Lung, LUAD, ...
- y ratio = (number of repeats) / (number that are not repeats)
- standard error of a proportion is ( p(1-p) / n) **0.5 ; AEDWIP this looks like the std
  * n = number of observations
  * p is proportion of the numerator of the ration. ie proportion of repeats
- error bar range = standard error * Z
  * Z = Z-score corresponding to your confidence level (e.g., 1.96 for 95% confidence)
 
**proportion stats**  
[6.3: The Sample Proportion](https://stats.libretexts.org/Bookshelves/Introductory_Statistics/Introductory_Statistics_(Shafer_and_Zhang)/06%3A_Sampling_Distributions/6.03%3A_The_Sample_Proportion#:~:text=at%20least%2030.-,The%20Sampling%20Distribution%20of%20the%20Sample%20Proportion,P%3D%E2%88%9Apqn.)

p = num of positive observations / total number of observations  
q =  1 - p  
n = number of observations  
std = sqrt( pq / n )

**error bar choices**  
1. standard deviation 
2. standard error (the standard deviation of the averages)
3. confidence interval  
    C.I = observed metric +/- the margin of error
    + factors affecting CI  
      a. number of observations  
      b. variablity  
      c. The confidence level: how much you can trust your confidence-interval calculation
    + [Khan Acadamey Confidence intervals and margin of error](https://www.khanacademy.org/math/ap-statistics/xfb5d8e68:inference-categorical-proportions/introduction-confidence-intervals/v/confidence-intervals-and-margin-of-error) 
5. aaa

In [173]:
# example of blot data generated by chatGPT4
n= 50
p = 20 / n
print(f'p : {p}')
se = (p *(1-p)/n)**0.5
print(f'se :{se}')

# error bar Error Bars (95% CI)
z = 1.96
errorBars = [se*z, -se*z]
print( f'errorBar : {errorBars}' )

y = p / (1-p)
print(f'y : {y} 20/50 : {20/30}')

p : 0.4
se :0.06928203230275509
errorBar : [0.13579278331339997, -0.13579278331339997]
y : 0.6666666666666667 20/50 : 0.6666666666666666

In [117]:
import ipynbname
from IPython.display import display
import pandas as pd
# display all rows
pd.set_option('display.max_rows', None)

# https://joelmccune.com/pandas-dataframe-to-markdown/
from pandas.io.clipboards import to_clipboard

import pathlib as pl
import pprint as pp
import numpy as np
import os

notebookName = ipynbname.name()
notebookPath = ipynbname.path()
notebookDir = os.path.dirname(notebookPath)

outDir = f'{notebookDir}/{notebookName}.out'
os.makedirs(outDir, exist_ok=True)
print(f'outDir:\n{outDir}')

outDir:
/private/home/aedavids/extraCellularRNA/terra/GTExTCGA_Release/jupyterNotebooks/barCharts.out

## How the te gene names work?

In [14]:
refRootDir = pl.Path('/private/groups/kimlab/genomes.annotations/genomes.annotations/gencode.39')
teInfoFilePath = refRootDir.joinpath('named_ucsc.rmsk.insert.info.txt')
teNameDF = pd.read_csv(teInfoFilePath, sep="\t")

print( f"\n{teInfoFilePath}" )
print( "the insert column is repeat name")
print(teNameDF.shape)
display(teNameDF.head())

/private/groups/kimlab/genomes.annotations/genomes.annotations/gencode.39/named_ucsc.rmsk.insert.info.txt
the insert column is repeat name
(15625, 3)

      insert          clade         family
0  (TAACCC)n  Simple_repeat  Simple_repeat
1       TAR1      Satellite           telo
2     L1MC5a           LINE             L1
3      MER5B            DNA    hAT-Charlie
4       MIR3           SINE            MIR

In [12]:
uniqueCladeNP = teNameDF.loc[:, 'clade'].unique()
uniqueCladeNP

array(['Simple_repeat', 'Satellite', 'LINE', 'DNA', 'SINE', 'LTR',
       'Low_complexity', 'LTR?', 'snRNA', 'tRNA', 'DNA?', 'Retroposon',
       'srpRNA', 'rRNA', 'Unknown', 'RC', 'scRNA', 'RNA', 'RC?', 'SINE?'],
      dtype=object)

In [13]:
uniqueFamilyNP = teNameDF.loc[:, 'family'].unique()
print( uniqueFamilyNP.shape )
uniqueFamilyNP

(67,)

array(['Simple_repeat', 'telo', 'L1', 'hAT-Charlie', 'MIR', 'L2', 'CR1',
       'ERVL-MaLR', 'Alu', 'hAT', 'ERVL', 'LTR', 'ERV1', 'hAT-Tip100',
       'Low_complexity', 'TcMar-Tigger', 'ERVL?', 'ERV1?', 'RTE-X',
       'LTR?', 'ERVK', 'snRNA', 'MULE-MuDR', 'tRNA', 'DNA?', 'Gypsy',
       'hAT-Blackjack', 'SVA', 'Satellite', 'srpRNA', 'hAT-Ac', 'rRNA',
       'TcMar-Tc2', 'tRNA-Deu', 'RTE-BovB', '5S-Deu-L2', 'PiggyBac',
       'hAT?', 'Unknown', 'TcMar-Mariner', 'Helitron', 'Gypsy?',
       'tRNA-RTE', 'hAT-Tip100?', 'DNA', 'Penelope', 'Dong-R4', 'scRNA',
       'RNA', 'PiggyBac?', 'centr', 'TcMar?', 'Helitron?', 'TcMar',
       'hAT-Tag1', 'Merlin', 'TcMar-Pogo', 'SINE?', 'PIF-Harbinger',
       'acro', 'Kolobok', 'TcMar-Tc1', 'Crypton', 'I-Jockey',
       'MULE-MuDR?', 'L1-Tx1', 'subtelo'], dtype=object)

## data wrangling

In [16]:
dataRoot = "/private/groups/kimlab/GTEx_TCGA/groupbyGeneTrainingSets"
! head $dataRoot/GTEx_TCGA_TrainColData.csv

sample_id,participant_id,category,gender,age,dataSet
GTEX-1117F-0226-SM-5GZZ7,GTEX-1117F,Adipose_Subcutaneous,Female,66.0,GTEx
GTEX-1117F-0526-SM-5EGHJ,GTEX-1117F,Artery_Tibial,Female,66.0,GTEx
GTEX-1117F-0726-SM-5GIEN,GTEX-1117F,Heart_Atrial_Appendage,Female,66.0,GTEx
GTEX-1117F-2826-SM-5GZXL,GTEX-1117F,Breast_Mammary_Tissue,Female,66.0,GTEx
GTEX-1117F-3226-SM-5N9CT,GTEX-1117F,Brain_Cortex,Female,66.0,GTEx
GTEX-111CU-0326-SM-5GZXO,GTEX-111CU,Lung,Male,57.0,GTEx
GTEX-111CU-0426-SM-5GZY1,GTEX-111CU,Spleen,Male,57.0,GTEx
GTEX-111CU-0526-SM-5EGHK,GTEX-111CU,Pancreas,Male,57.0,GTEx
GTEX-111CU-0626-SM-5EGHL,GTEX-111CU,Esophagus_Muscularis,Male,57.0,GTEx

In [17]:
! head $dataRoot/GTEx_TCGA_TrainGroupby.csv | cut -d , -f 1,2,3

geneId,GTEX-1117F-0226-SM-5GZZ7,GTEX-1117F-0526-SM-5EGHJ
(A)n,9,1
(AAA)n,0,0
(AAAAAAC)n,0,0
(AAAAAAG)n,0,0
(AAAAAAT)n,0,0
(AAAAAC)n,0,0
(AAAAACA)n,0,0
(AAAAACC)n,0,0
(AAAAACT)n,0,0

```
how many columns in training data set
head -n 1 $dataRoot/GTEx_TCGA_TrainGroupby.csv | comma2newLine | wc -l

(extraCellularRNA) aedavids@mustard $ head -n 1 GTEx_TCGA_TrainGroupby.csv | comma2newLine | wc -l
15802

(extraCellularRNA) aedavids@mustard $ head -n 1 GTEx_TCGA_ValidateGroupby.csv | comma2newLine | wc -l
5269

(extraCellularRNA) aedavids@mustard $ head -n 1 GTEx_TCGA_TestGroupby.csv | comma2newLine | wc -l
5269

(extraCellularRNA) aedavids@mustard $ wc -l GTEx_TCGA_*Groupby.csv 
     74778 GTEx_TCGA_TestGroupby.csv
     74778 GTEx_TCGA_TrainGroupby.csv
     74778 GTEx_TCGA_ValidateGroupby.csv
    224334 total
```

### Create some plot test data
- select 2lung and 2 LUAD sample from training data set
- select 6 rows that do not have any zeros. We will say the top are repeats the bottom 6 are not repeats

In [91]:
%%time
trainColDataPath   = f'{dataRoot}/GTEx_TCGA_TrainColData.csv'
print(trainColDataPath)
trainColDataDF = pd.read_csv(trainColDataPath)
print(trainColDataDF.shape)

print()
trainCountPath   = f'{dataRoot}/GTEx_TCGA_TrainGroupby.csv'
print(trainCountPath)
trainCountDF = pd.read_csv(trainCountPath)
print(trainCountDF.shape)

/private/groups/kimlab/GTEx_TCGA/groupbyGeneTrainingSets/GTEx_TCGA_TrainColData.csv
(15801, 6)

/private/groups/kimlab/GTEx_TCGA/groupbyGeneTrainingSets/GTEx_TCGA_TrainGroupby.csv
(74777, 15802)
CPU times: user 3min 35s, sys: 13.8 s, total: 3min 49s
Wall time: 3min 49s

In [97]:
# find 2 samples
print(trainColDataDF.columns)
selectLungRows = trainColDataDF.loc[:, 'category'] == "Lung"
lungSampleIdsDF = trainColDataDF.loc[selectLungRows, ['sample_id']].head(n=2)
display(lungSampleIdsDF)

print()
selectLUADRows = trainColDataDF.loc[:, 'category'] == "LUAD"
LUADSampleIdsDF = trainColDataDF.loc[selectLUADRows, ['sample_id']].head(n=2)
display(LUADSampleIdsDF)

Index(['sample_id', 'participant_id', 'category', 'gender', 'age', 'dataSet'], dtype='object')

                   sample_id
5   GTEX-111CU-0326-SM-5GZXO
29  GTEX-111VG-0726-SM-5GIDC

             sample_id
13310  LUAD-05-4244-TP
13311  LUAD-05-4249-TP

In [98]:
testSampleCols = lungSampleIdsDF['sample_id'].to_list() + LUADSampleIdsDF['sample_id'].to_list()
print(testSampleCols)
plotTestCountsDF = trainCountDF.loc[:, ['geneId'] +  testSampleCols]
print(plotTestCountsDF.shape)
plotTestCountsDF.head()

['GTEX-111CU-0326-SM-5GZXO', 'GTEX-111VG-0726-SM-5GIDC', 'LUAD-05-4244-TP', 'LUAD-05-4249-TP']
(74777, 5)

,geneId,GTEX-111CU-0326-SM-5GZXO,GTEX-111VG-0726-SM-5GIDC,LUAD-05-4244-TP,LUAD-05-4249-TP
0,(A)n,2,12,11,2
1,(AAA)n,0,0,0,0
2,(AAAAAAC)n,0,0,0,0
3,(AAAAAAG)n,0,0,0,0
4,(AAAAAAT)n,0,0,0,0

In [100]:
def selectGenesWithCounts(df : pd.DataFrame) -> pd.DataFrame:
    '''
    make bar code plot testing easier. select rows that do not have zeros
    '''
    # create a logical data frame
    nonZeroCountsDF = df != 0
    print

    byRow = 1
    nonZeroCountsDF['rowSum'] = nonZeroCountsDF.sum(axis=byRow)

    numSampleCols = df.shape[1]
    print(f'numSampleCols : {numSampleCols}')
    selectGenesWithOutZerosRow = nonZeroCountsDF['rowSum'] == numSampleCols

    retDF = df.loc[selectGenesWithOutZerosRow, :]

    return retDF

def testSelectGenesWithCounts():
    retDF = selectGenesWithCounts( plotTestCountsDF.head() )
    display(retDF)

testSelectGenesWithCounts()

numSampleCols : 5

,geneId,GTEX-111CU-0326-SM-5GZXO,GTEX-111VG-0726-SM-5GIDC,LUAD-05-4244-TP,LUAD-05-4249-TP
0,(A)n,2,12,11,2

In [153]:
def createBarChartPlotData(plotTestCountsDF) :
    nonZeroCountsDF = selectGenesWithCounts( plotTestCountsDF )
    nonZeroCountsDF = nonZeroCountsDF.head(n=6)
  
    typeDict = dict()
    typeDict['Lung'] = nonZeroCountsDF.loc[:, ['geneId'] + lungSampleIdsDF['sample_id'].to_list()]
    typeDict['LUAD'] = nonZeroCountsDF.loc[:, ['geneId'] + LUADSampleIdsDF['sample_id'].to_list()]
    
    #print( pp.pformat(typeDict) )
    
    # sum the transcript counts
    byRow = 1
    for key, df in typeDict.items():
        # all colunms except geneId
        sampleCols = ~ df.columns.isin( ['geneId'] )
        df['rowSum'] = df.loc[:, sampleCols].sum(axis=byRow)
    
    # print('\n******** sum rows')
    # print( pp.pformat(typeDict) )
    
    # assume the first 3 cols are repeats
    for key, df in typeDict.items():
        # all colunms except geneId
        sampleCols = ~ df.columns.isin( ['geneId'] )
        n = int(df.shape[0] / 2)
        isRepeat = [True]*n + [False]*n
        df['isRepeat'] = isRepeat
    
    # print('\n******** sum rows')
    # print( pp.pformat(typeDict) )

    return typeDict

barChartDict = createBarChartPlotData(plotTestCountsDF)
print( pp.pformat(barChartDict) )

numSampleCols : 5
{'LUAD':         geneId  LUAD-05-4244-TP  LUAD-05-4249-TP  rowSum  isRepeat
0         (A)n               11                2      13      True
102    (AAAG)n                4                1       5      True
528    (AAGG)n                5                1       6      True
841    (AATG)n               31                3      34     False
885   (AATGG)n              229               44     273     False
1043     (AC)n              685              393    1078     False,
 'Lung':         geneId  GTEX-111CU-0326-SM-5GZXO  GTEX-111VG-0726-SM-5GIDC  rowSum  \
0         (A)n                         2                        12      14
102    (AAAG)n                         1                        11      12
528    (AAGG)n                         3                         4       7
841    (AATG)n                         4                         8      12
885   (AATGG)n                        38                        22      60
1043     (AC)n                      1112                      1006    2118

      isRepeat
0         True
102       True
528       True
841      False
885      False
1043     False  }

In [183]:
def calcBarChartXY(barChartDict : dict[key, pd.DataFrame], 
                   colName : str) -> dict :
# def calcBarChartXY(barChartDict , 
#                    colName )  :
    '''
    arguments
        barChartDict

        colName : str 
            column to calculate the proportion on. Example 'isRepeat'

    output 
        update input dictionary 
        df 
        y = proportion example number of repeats / total number
        e = error bar @ (95% CI)
        x = category
        totalNumCounts
        numColNameCounts
    '''
    retDict = dict()
    for key,df in barChartDict.items():
        plotDataDict = dict()
        plotDataDict['df'] = df
        sumDF = df.loc[:,[colName, 'rowSum']].groupby([colName]).sum()

        totalNumCounts = sumDF['rowSum'].sum()
        plotDataDict['totalNumCounts'] = totalNumCounts

        # get the number of  counts for colName
        selectRow = sumDF.index # the index is a boolean. There are only 2 rows
        numColNameCounts = sumDF.loc[selectRepeatRow , 'rowSum' ].values[0]
        plotDataDict['numColNameCounts'] = numColNameCounts
    
        y = numColNameCounts / totalNumCounts
        plotDataDict['y'] = y

        # p is proportion for
        p = numRepeatCounts / totalNumCounts
        # print(f'\np : {p}')
        plotDataDict['p'] = p

        # y and p should be equal. we just calculated them differently to add readablity

        # calculate the standard error for the proportion
        se = se = (p *(1-p)/n)**0.5
        plotDataDict['se'] = se
        
        # error bar Error Bars (95% CI)
        z = 1.96
        plotDataDict['z'] = z
        errorBars = [se*z, -se*z]
        #print( f'errorBar : {errorBars}' )
        plotDataDict['errorBars'] = errorBars

        retDict[key] = plotDataDict


    return retDict


finalDict = calcBarChartXY(barChartDict, colName="isRepeat")
print( pp.pformat(finalDict) )

{'LUAD': {'df':         geneId  LUAD-05-4244-TP  LUAD-05-4249-TP  rowSum  isRepeat
0         (A)n               11                2      13      True
102    (AAAG)n                4                1       5      True
528    (AAGG)n                5                1       6      True
841    (AATG)n               31                3      34     False
885   (AATGG)n              229               44     273     False
1043     (AC)n              685              393    1078     False,
          'errorBars': [0.03586663090894229, -0.03586663090894229],
          'numColNameCounts': 24,
          'p': 0.017033356990773598,
          'se': 0.01829930148415423,
          'totalNumCounts': 1409,
          'y': 0.017033356990773598,
          'z': 1.96},
 'Lung': {'df':         geneId  GTEX-111CU-0326-SM-5GZXO  GTEX-111VG-0726-SM-5GIDC  rowSum  \
0         (A)n                         2                        12      14
102    (AAAG)n                         1                        11      12
528    (AAGG)n                         3                         4       7
841    (AATG)n                         4                         8      12
885   (AATGG)n                        38                        22      60
1043     (AC)n                      1112                      1006    2118

      isRepeat
0         True
102       True
528       True
841      False
885      False
1043     False  ,
          'errorBars': [0.02864506697601569, -0.02864506697601569],
          'numColNameCounts': 33,
          'p': 0.010796221322537112,
          'se': 0.014614830089803924,
          'totalNumCounts': 2223,
          'y': 0.014844804318488529,
          'z': 1.96}}

In [176]:
lungAEDWIPDF = barChartDict['LUAD']
display(lungAEDWIPDF)

def 
lungSumDF = lungAEDWIPDF.loc[:,['isRepeat', 'rowSum']].groupby([isRepeat]).sum()

print('\nnumber of transcripts by repeat type')
display(lungSumDF)

totalNumCounts = lungSumDF['rowSum'].sum()
print(f'\ntotalNumCounts : {totalNumCounts}')

# get the number of repeat counts
selectRepeatRow = lungSumDF.index # the index is a boolean. There are only 2 rows
numRepeatCounts = lungSumDF.loc[selectRepeatRow , 'rowSum' ].values[0]
print(f'numRepeatCounts : {numRepeatCounts}')

y = numRepeatCounts / totalNumCounts
print(f'\ny : {y} numRepeatCounts/(totalNumCounts - numRepeatCounts) :{numRepeatCounts/(totalNumCounts - numRepeatCounts)}')

# p is proportion for
p = numRepeatCounts / totalNumCounts
print(f'\np : {p}')


# calculate the standard error for the proportion
se = se = (p *(1-p)/n)**0.5
print(f'\nse : {se}')

# error bar Error Bars (95% CI)
z = 1.96
errorBars = [se*z, -se*z]
print( f'errorBar : {errorBars}' )

        geneId  LUAD-05-4244-TP  LUAD-05-4249-TP  rowSum  isRepeat
0         (A)n               11                2      13      True
102    (AAAG)n                4                1       5      True
528    (AAGG)n                5                1       6      True
841    (AATG)n               31                3      34     False
885   (AATGG)n              229               44     273     False
1043     (AC)n              685              393    1078     False

number of transcripts by repeat type

       isRepeat  rowSum
False         0    1385
True          3      24

totalNumCounts : 1409
numRepeatCounts : 24

y : 0.017033356990773598 numRepeatCounts/(totalNumCounts - numRepeatCounts-p) :0.017328519855595668

p : 0.017033356990773598

se : 0.01829930148415423
errorBar : [0.03586663090894229, -0.03586663090894229]

24

Index([False, True], dtype='bool')