# Basic Summary Stats
Andrew E. Davidson  
aedavids@ucsc.edu

Copyright (c) 2020-2023, Regents of the University of California All rights reserved. https://polyformproject.org/licenses/noncommercial/1.0.0

General Data set stats

In [1]:
import ipynbname
from IPython.display import display
import pandas as pd
# display all rows
pd.set_option('display.max_rows', None)

# https://joelmccune.com/pandas-dataframe-to-markdown/
from pandas.io.clipboards import to_clipboard
import os

notebookName = ipynbname.name()
notebookPath = ipynbname.path()
notebookDir = os.path.dirname(notebookPath)

outDir = f'{notebookDir}/{notebookName}.out'
os.makedirs(outDir, exist_ok=True)
print(f'outDir:\n{outDir}')

outDir:
/private/home/aedavids/extraCellularRNA/terra/jupyterNotebooks/April2024Release.out

/data/tmp/ipykernel_3083445/4036185250.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# GTEx

In [2]:
GTExDataDir = '/private/groups/kimlab/GTEx'
colDataPathsDict = { f:f'{GTExDataDir}/GTEx{f}ColData.csv' for f in ['Train', 'Validate', 'Test'] }
colDataDFDict =  { key:pd.read_csv(path)  for (key, path) in colDataPathsDict.items() }

# create factors
for k,df in colDataDFDict.items():
    df['tissue_id'] = df['tissue_id'].astype('category')
    df['tissue_site_detail'] = df['tissue_site_detail'].astype('category')
    df['sex'] = df['sex'].astype('category')

In [3]:
# xDF = pd.read_csv( colDataPathsDict['Test'] )
xDF = colDataDFDict['Test']
print(xDF.shape)
display( xDF.head() )

(3471, 6)

,sample_id,participant_id,tissue_id,tissue_site_detail,sex,age
0,GTEX-1117F-0226-SM-5GZZ7,GTEX-1117F,Adipose_Subcutaneous,Adipose - Subcutaneous,Female,66
1,GTEX-1117F-0526-SM-5EGHJ,GTEX-1117F,Artery_Tibial,Artery - Tibial,Female,66
2,GTEX-1117F-0626-SM-5N9CS,GTEX-1117F,Artery_Coronary,Artery - Coronary,Female,66
3,GTEX-1117F-1326-SM-5EGHH,GTEX-1117F,Adipose_Visceral_Omentum,Adipose - Visceral (Omentum),Female,66
4,GTEX-1117F-2526-SM-5GZY6,GTEX-1117F,Vagina,Vagina,Female,66

In [4]:
# yDF = xDF.groupby(by=['sample_id']).count()
# print(yDF.shape)
# display(yDF.head())

xDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3471 entries, 0 to 3470
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sample_id           3471 non-null   object
 1   participant_id      3471 non-null   object
 2   tissue_id           3471 non-null   category
 3   tissue_site_detail  3471 non-null   category
 4   sex                 3471 non-null   category
 5   age                 3471 non-null   int64
dtypes: category(3), int64(1), object(2)
memory usage: 94.6+ KB

In [5]:
# is issue_id	== tissue_site_detail
# isEqual = xDF['tissue_id'] == xDF['tissue_site_detail']
# print(sum(isEqual))
# print(xDF.shape)

In [6]:
# xDF.groupby(by=['tissue_id', 'tissue_site_detail', 'sex']).count()

In [7]:
cols = ~xDF.columns.isin( [	'participant_id',	'age'] ) # 'sample_id',
xDF.loc[:, cols].groupby(by=['tissue_id', 'tissue_site_detail', 'sex'], observed=True).count().head(n=10)

                                                              sample_id
tissue_id                tissue_site_detail           sex
Adipose_Subcutaneous     Adipose - Subcutaneous       Female         40
                                                      Male           97
Adipose_Visceral_Omentum Adipose - Visceral (Omentum) Female         37
                                                      Male           78
Adrenal_Gland            Adrenal Gland                Female         24
                                                      Male           29
Artery_Aorta             Artery - Aorta               Female         30
                                                      Male           51
Artery_Coronary          Artery - Coronary            Female         18
                                                      Male           31

In [8]:
# xDF['tissue_id'] = xDF['tissue_id'].astype('category')
# display( xDF.loc[:, cols].groupby(by=['tissue_id', 'tissue_site_detail', 'sex'], observed=True).count().head(n=10) )

In [9]:
# xDF.info()

In [10]:
# xDF['sex'] = xDF['sex'].astype('category')
# display( xDF.loc[:, cols].groupby(by=['tissue_id', 'tissue_site_detail', 'sex'], observed=True).count().head(n=10) )

In [11]:
# xDF['tissue_site_detail'] = xDF['tissue_site_detail'].astype('category')
# display( xDF.loc[:, cols].groupby(by=['tissue_id', 'tissue_site_detail', 'sex'], observed=True).count().head(n=10) )